
.bdr{
    border: 2px solid red;
}
.cards{
    margin-top: 3rem;
    padding: 2rem;
    background: hsl(0,0%,70%);
}
.cards h2{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
}

.cards .container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

@media screen and (min-width: 728px) { 
    .cards .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }
}