

.connect{
    background: rgb(255, 196, 0);
    height: 2.5rem;
    width: 7rem;
    border-radius: 15px;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.B{
    height: 3.5rem;
    width: 8rem;
    border-radius: 15px;
    font-size: 22px;
}
.B:hover{
    border: 2px solid #000;
}