.bdr{
    border: 2px solid red;
}

header{
    width: 100vw;
}
.header{
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 1rem;
    align-items: center;
    width: 100vw;
}
.header h1{
    font-size: 2rem;
}

@media screen and (min-width: 728px) { 
    .header{
        justify-content: center;
    }
    .header nav{
        margin-left: 16rem;
    }
}